@inherits LayoutComponentBase


<div class="@(IsDark ? "dark-theme" : "light-theme") app-container">
    <NavMenu />

    <div class="main-wrapper">
        <Header OnThemeToggled="ToggleTheme" />
        <main class="content-area">
            <div class="container-fluid">
                @Body
            </div>
        </main>
    </div>
</div


@code {
    private bool IsDark = true;

    private void ToggleTheme() {
        Console.WriteLine("Le Layout a reçu le signal !"); // Regarde ta console Visual Studio
        IsDark = !IsDark;
        StateHasChanged(); 
    }
}