@inherits LayoutComponentBase

<div class="app-container">
    <NavMenu />

    <div class="main-wrapper">
        <Header />

        <main class="content-area">
            <div class="container-fluid">
                @Body
            </div>
        </main>
    </div>
</div>