/* La structure de la sidebar est locale à ce composant */
.sidebar-trading {
    width: var(--sidebar-collapsed);
    height: 100vh;
    background-color: var(--sidebar-bg);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(15px) saturate(150%);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

    /* Survol de la sidebar (l'ombre change aussi !) */
    .sidebar-trading:hover {
        width: var(--sidebar-expanded);
        /* Ombre plus douce en mode clair, forte en mode sombre */
    }

/* On utilise ::deep car .nav-link est généré par le composant enfant <NavLink> */
::deep .nav-link {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 23px;
    color: var(--text-muted) !important; /* Dynamique ! */
    white-space: nowrap;
    border-radius: 0;
    transition: all 0.2s;
    border-left: 3px solid transparent;
}

    ::deep .nav-link i {
        font-size: 1.3rem;
        min-width: 25px;
        text-align: center;
    }

/* Texte des liens */
.nav-text {
    margin-left: 20px;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.sidebar-trading:hover .nav-text {
    opacity: 1;
    transform: translateX(0);
}

::deep .nav-link:hover {
    background-color: var(--nav-hover-bg) !important; /* Dynamique ! */
    color: var(--text-main) !important;
}

::deep .nav-link.active {
    color: var(--color-principale) !important;
    background-color: var(--nav-hover-bg) !important;
    border-left: 3px solid var(--color-principale);
}

.sidebar-footer {
    margin-top: auto;
    border-top: 1px solid var(--sidebar-border); /* Dynamique ! */
    padding-bottom: 10px;
}
